{% extends 'generic_layout.html.twig' %}

{% block head_title %}{{ 'store.index.Store'|trans }}{% endblock %}
{% block main_title %}{{ 'store.index.Store'|trans }}{% endblock %}

{% block meta_tag_description %}{% endblock %}

{% block main_content %}
	{% if entities|length > 0 %}
		<form method="post" action="{{ path('store') }}" name="search_form">
		<div class="row">
			<div class="col-lg-6">
				<div class="input-group">
					<input type="text" class="form-control" name="query" value="{{ query }}" placeholder="{{ 'store.index.Search'|trans }} ...">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
					</div>
				</div>
			</div>
		</div>
		</form>
		<br>
	{% endif %}
	
	{% if entities|length > 0 %}
	<div class="row mb-4">
		{% for entity in entities %}
			<div class="col-sm-6 col-lg-4 py-2">
				<div class="card  h-100 mb-4">
					<div class="card-header">
						<h5><a href="{{ path('read_store', {'id': entity.id, 'slug': entity.slug}) }}">{{ entity.title }}</a></h5>
					</div>
					<div class="card-body">
						<div class="article_infos">
							<span><i class="fas fa-chevron-circle-right"></i> <span class="font-weight-bold">{% if entity.biography is not empty %}{{ entity.biography.title }}{% else %}{{ "store.index.UnknownAuthor"|trans }}{% endif %}</span></span><br>
						</div>
						<hr>
						<div class="center-iframe">
							{{ entity.embedCode|raw }}
						</div>
					</div>
					<div class="card-footer text-muted">
						<span class="float-right"><a href="{{ path('read_store', {'id': entity.id, 'slug': entity.slug}) }}"><i class="fas fa-plus" aria-hidden="true"></i> {{ "store.index.MoreInformations"|trans }}</a></span>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	{% else %}
		<div class="alert alert-danger text-center">
			<i class="fas fa-exclamation-triangle" aria-hidden="true"></i> {{ 'store.index.NoProductFound'|trans }}
		</div>
	{% endif %}
	
	
	{#<div class="row row_flex">
		{% for entity in entities %}
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
			    {% if entity.photo is not empty %}<img src="{{ asset(constant('\\App\\Entity\\Store::PATH_FILE')~entity.photo) }}" class="card-img-top" alt="{{ entity.title }}">{% endif %}
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="{{ path('read_store', {'id': entity.id, 'slug': entity.slug}) }}">{{ entity.title }}</a>
                  </h4>
                  <h5>{% if entity.biography is not empty %}<i class="fas fa-chevron-circle-right"></i> <span class="font-weight-bold">{{ entity.biography.title }}</span>{% endif %}</h5>
                </div>
				<div class="card-footer">
				    <a href="{{ path('read_store', {'id': entity.id, 'slug': entity.slug}) }}" class="btn btn-info"><i class="fas fa-plus" aria-hidden="true"></i></a>
				    <a href="{{ entity.getExternalStoreLink() }}" class="btn btn-success" target="_blank"><i class="fas fa-shopping-basket" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
		{% endfor %}
    </div>#}

	{% if entities|length > 0 %}
		{% if links is defined and links is not empty %}
		<nav aria-label="Page navigation">
			<ul class="pagination justify-content-center">
				<li class="page-item">
					{% for link in links %}
						{% if link.url is not null %}
							<li class="page-item"><a class="page-link" href="{{ link.url }}">{{ link.text }}</a></li>
						{% else %}
							<li class="page-item {{ (link.class is defined) ? link.class }}"><span class="page-link">{{ link.text }}</span></li>
						{% endif %}
					{% endfor %}
					</a>
				</li>
			</ul>
		</nav>
		{% endif %}
	{% endif %}
{% endblock %}